/*
- Colors
- Scrollbar
*/


/* Colors
----------------------------------------- */

$background: #7F6DFF;
$secondary: #1f4287;
$third: #278ea5;
$fourth: #21e6c1;
$grey: rgba(255, 255, 255, .7);


/* Scrollbar
----------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CCC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494949;
}